Nombre,ult_mod,sha,nombre_org,nombre_repo
{% for app_name, app in filtered_names[0].tags.items() %}
{% if "staging" in app_name %}
{{ app.name }},{{ app.last_modified.replace(',','') }},{{ app.manifest_digest }},{{ filtered_names[0].namespace }},{{ filtered_names[0].name }}
{% endif %}
{% endfor %}
